.footer {
  width: 100%;
  height: auto;
  padding: 100px;
  background-color: #21232c;
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 44px;
  color: #fff;
}
.footer-title span {
  color: #00cc8f;
}
.footer-dev {
  color: #fff;
  font-size: 28px;
}
.footer-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.footer-social {
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.footer-social-link {
    display: flex;
    background-color: #00cc8f;
    padding: 14px;
    color: #f1f2f3;
    font-size: 28px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.footer-social-link:hover {
    transform: translateY(-8px);
}
.footer-copy {
  flex: 1;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 769px) {
  .footer {
    padding: 100px 50px;
  }
  .footer-container {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    align-items: center;
  }
}